* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); */

html {
  font-size: 10px;
}

.exp {
  color: red;
}

.inc {
  color: green;
}

.head {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .container .main {
  background-color: aquamarine;
} */

.container .content {
  margin: 3rem 0;
}

.container .content .item {
  font-size: 2.5rem;
  font-weight: 700;
}

.container .content .item-content {
  font-size: 2rem;
  font-weight: 700;
}

.container .content .flexed {
  display: flex;
  justify-content: space-evenly;
  background: rgba(180, 255, 255, 0.5);
  margin: 2rem 0;
  padding: 2rem 0;
}

.container .main .inputs {
  display: flex;
  flex-direction: column;
}

label {
  margin: 1rem 0;
}

.container .main .inputs form {
  width: 40rem;
  display: flex;
  flex-direction: column;
}

i {
  color: black;
  padding: 0 0.5rem;
}
