@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); */

  html {
    font-size: 10px;
    background-image: url("https://images.unsplash.com/photo-1574607408385-dc664a9c5272?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }

  .head {
    text-align: center;
    font-weight: 600;
    background: rgba(180, 255, 255);
    /* padding: 1rem 7.5rem; */
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }

  .container .main {
    background: rgba(215, 247, 246, 0.8);
    padding: 2rem 1rem;
  }

  .container .content {
    margin: 2rem 0;
  }

  .container .content .item {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
  }

  .container .content .item-content {
    font-size: 2rem;
    font-weight: 700;
  }

  .container .content .flexed {
    display: flex;
    justify-content: space-evenly;
    /* background: rgba(180, 255, 255, 0.9); */
    background: #a4def9;
    margin: 2rem 0;
    padding: 1rem 0;
  }

  .container .main .inputs {
    display: flex;
    flex-direction: column;
  }

  label {
    margin: 0.8rem 0;
  }

  .container .main .inputs form {
    width: 30rem;
    display: flex;
    flex-direction: column;
  }
}
